extends layout

block content
 h1.title Register
 form(method='POST', action='/users/register')
  .control
   label.label Name:
   input.input(name='name', type='text')
  .control
   label.label Email:
   input.input(name='email', type='email')
  .control
   label.label Username:
   input.input(name='username', type='text')
  .control
   label.label Password:
   input.input(name='password', type='password')
  .control
   label.label Confirm:
   input.input(name='password2', type='password')
   br
   br
  input.button.is-primary(value="Register", type='submit', style='width: 100%;')
